<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @race.year %>
</p>

<p>
  <b>Indian:</b>
  <%= @race.indian %>
</p>

<p>
  <b>Bangladeshi:</b>
  <%= @race.bangladeshi %>
</p>

<p>
  <b>Bhutanese:</b>
  <%= @race.bhutanese %>
</p>

<p>
  <b>Cambodian:</b>
  <%= @race.cambodian %>
</p>

<p>
  <b>Chinese:</b>
  <%= @race.chinese %>
</p>

<p>
  <b>Filipino:</b>
  <%= @race.filipino %>
</p>

<p>
  <b>Hmong:</b>
  <%= @race.hmong %>
</p>

<p>
  <b>Indonesian:</b>
  <%= @race.indonesian %>
</p>

<p>
  <b>Japanese:</b>
  <%= @race.japanese %>
</p>

<p>
  <b>Korean:</b>
  <%= @race.korean %>
</p>

<p>
  <b>Laotian:</b>
  <%= @race.laotian %>
</p>

<p>
  <b>Malaysian:</b>
  <%= @race.malaysian %>
</p>

<p>
  <b>Nepalese:</b>
  <%= @race.nepalese %>
</p>

<p>
  <b>Pakistani:</b>
  <%= @race.pakistani %>
</p>

<p>
  <b>Srilankan:</b>
  <%= @race.srilankan %>
</p>

<p>
  <b>Taiwanese:</b>
  <%= @race.taiwanese %>
</p>

<p>
  <b>Thai:</b>
  <%= @race.thai %>
</p>

<p>
  <b>Vietnamese:</b>
  <%= @race.vietnamese %>
</p>


<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
