<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @crime.city_id %>
</p>

<p>
  <b>Population:</b>
  <%= @crime.population %>
</p>

<p>
  <b>Total law enforcement employees:</b>
  <%= @crime.total_law_enforcement_employees %>
</p>


<%= link_to 'Edit', edit_crime_path(@crime) %> |
<%= link_to 'Back', crimes_path %>
