<p id="notice"><%= notice %></p>

<p>
  <b>Zip code:</b>
  <%= @city.zip_code %>
</p>

<p>
  <b>Latitude:</b>
  <%= @city.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @city.longitude %>
</p>

<p>
  <b>City:</b>
  <%= @city.city %>
</p>

<p>
  <b>State:</b>
  <%= @city.state %>
</p>

<p>
  <b>County:</b>
  <%= @city.county %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
