<%= form_for(@transit_score) do |f| %>
  <% if @transit_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transit_score.errors.count, "error") %> prohibited this transit_score from being saved:</h2>

      <ul>
      <% @transit_score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cityName %><br />
    <%= f.text_field :cityName %>
  </div>
  <div class="field">
    <%= f.label :stateName %><br />
    <%= f.text_field :stateName %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :transit_score %><br />
    <%= f.text_field :transit_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
