<h1>Listing transit_scores</h1>

<table>
  <tr>
    <th>Cityname</th>
    <th>Statename</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Transit score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transit_scores.each do |transit_score| %>
  <tr>
    <td><%= transit_score.cityName %></td>
    <td><%= transit_score.stateName %></td>
    <td><%= transit_score.latitude %></td>
    <td><%= transit_score.longitude %></td>
    <td><%= transit_score.transit_score %></td>
    <td><%= link_to 'Show', transit_score %></td>
    <td><%= link_to 'Edit', edit_transit_score_path(transit_score) %></td>
    <td><%= link_to 'Destroy', transit_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transit score', new_transit_score_path %>
