<!DOCTYPE html>
<html>
<head>
  <title>Migrant Heaven</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="mhApp">

  <%= yield %>

</body>
</html>
